<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html"}}
  <title>{{ .Title }}</title>
</head>

<body>
  <container class="main-container">
    {{ partial "header.html" }}
    
    <main>
      <!-- Gets _index.md from the blog/ folder -->
      {{ .Content }}

      {{- range .Pages }}
        <div class="post">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          
          <span>{{ .Date.Format "January 2, 2006" }}</span>
          {{ if (isset .Params.tags nil) (gt (len .Params.tags) 0) }}
          <div class="tag-list">
            {{- range .Params.tags }}
              <a class="tag" href="/tags/{{ . }}">{{.}}</a>
            {{- end }}
          </div>
          {{ end }}
          
          {{ .Render "p"}}
        </div>
      {{- end }}
    </main>

    {{ partial "footer.html" }}
  </container>
</body>

</html>