<header>
  <a href="/"><img class="logo" src="/img/logo.svg" type="image/svg" alt="*** ImAgE dIsaPpEaReD ***"></img></a>
  <div class="menu">
    <a class="menu-item" href="/">Home</a>
    <a class="menu-item" href="/blog/">Blog</a>
    <a class="menu-item" href="/talks/">Talks</a>
    <a class="menu-item" href="/scratchpad/">Scratchpad</a>
  </div>
  <div class="footer">
    <p>🔧 with 🧡💙 by decaby7e</p>
    <a href="https://512kb.club"><img src="https://512kb.club/assets/images/green-team.svg" height="20" /></a>
  </div>
</header>