<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html"}}
  <title>{{ .Title }}</title>
</head>

<body>
  <container class="main-container">
    {{ partial "header.html" }}

    <main>
      <!-- Gets _index.md from the blog/ folder -->
      <h1 class="title">{{.Title}}</h1>
      {{ .Content }}

      <!-- Gets all subdirectories and lists them -->
      {{ $sections := (.Site.GetPage "section" .Section).Sections }}
      {{ range $sections }}
      <div class="project">
        <a href={{ .Permalink }}>
          <h2>{{ .Title }}</h2>
        </a>
        <p>{{ .Content }}</p>
      </div>
      {{ end }}

    </main>
  </container>
</body>

</html>